body{
    margin: 0;
    background-color: rgba(32, 31, 31, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container{
    color: #d7dfe4;
}
.digit{

    font-size: 150px;
    font-weight: bold;
} 
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn1{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 15px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: rgb(102, 211, 102);

}
#stop{
    background-color: rgba(57, 57, 97, 0.87);

}
#reset{
    background-color: rgba(219, 17, 17, 0.788);

}